link(rel="stylesheet" href="/stylesheets/404.css")
.container
	input(type="checkbox" id="switch")
	.ellipse
	.ray
	.head
	.neck
	.body
		label(for="switch")

.container
	.msg.msg_1 404
	.msg.msg_2 Page Not Found
