extends layout

block content
  h1(class="Pepperoni-header") #{title}
  p(class="Pepperoni-text") Writing 0's and 1's all day, every day.
  br
  ul
    li(class="Pepperoni-text")
      i.fab.fa-gitlab
      a(href="https://gitlab.com/xdrixxyz")  GitLab
    li(class="Pepperoni-text")
      i.fab.fa-github
      a(href="https://github.com/xDrixxyz")  GitHub
    li(class="Pepperoni-text")
      i.fab.fa-keybase
      a(href="https://keybase.io/xdrixxyz")  Keybase
    li(class="Pepperoni-text")
      i.fab.fa-twitter
      a(href="https://twitter.com/xdrixxyz")  Twitter
    li(class="Pepperoni-text")
      i.fab.fa-reddit
      a(href="https://reddit.com/u/Hexexpeck")  Reddit
    li(class="Pepperoni-text")
      i.fab.fa-discord
      b xDrixxyz#0001
    li(class="Pepperoni-text")
      i.fab.fa-discord
      a(href="https://discord.gg/6FHsTk5")  Join my Discord server, xcord!
    li(class="Pepperoni-text")
      i.fab.fa-discord
      a(href="https://discord.gg/eeADCpd")  Join the ASH Discord server!
    li(class="Pepperoni-text")
      i.fas.fa-at
      a(href="mailto:xd@xdrixxyz.ml")  xd[at]xdrixxyz[dot]ml
    li(class="Pepperoni-text")
      i.fas.fa-comment
      a(href="https://blog.xdrixxyz.ml")  My blog
    li(class="Pepperoni-text")
      i.fas.fa-signal
      a(href="https://status.xdrixxyz.ml")  Status Page (UptimeRobot)
    li(class="Pepperoni-text")
      i.fab.fa-bitcoin
      a(href="bitcoin:33E3SaPVuKXJYuDBJFS78avML7oiDHWus4")  33E3SaPVuKXJYuDBJFS78avML7oiDHWus4
    li(class="Pepperoni-text")
      i.fas.fa-book
      a(href="https://xwiki.xdrixxyz.ml")  xWiki (My wiki)
    li(class="Pepperoni-text")
      i.fas.fa-code
      a(href="https://gitlab.com/xdrixxyz/xsite") xsite's source code
    br
    li(class="Pepperoni-text")
      form(action="https://www.paypal.com/cgi-bin/webscr", method="post", target="_top")
        input(type="hidden", name="cmd", value="_s-xclick")
        input(type="hidden", name="hosted_button_id", value="HMZAEEN9SJA68")
        input(type="image", src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif", border="0", name="Submit", alt="PayPal - The safer, easier way to pay online!")
        img(alt="", border="0", src="https://paypalobjects.com/en_US/i/scr/pixel.gif", width="1", height="1")
  br
  p(class="Pepperoni-text-small") Running commit #{commit} from master
