doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(property='og:title', content="xDrixxyz's Internet House")
    meta(property='og:type', content='website')
    meta(property='og:image', content='https://xdrixxyz.ml/images/xdrixxyz.gif')
    meta(property='og:description', content='Knock before you enter.')
    meta(property='og:locale', content='en_US')
    meta(property='og:image:alt', content='Weee, I can spin!')
    title= title
    link(rel='icon', href='/images/xdrixxyz.png')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/fontawesome-free-v5.2.0_all.js')
  body
    block content
