@import 'ProductSans.css'
@import 'Roboto.css'

@-webkit-keyframes Pepperoni-Gradient {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes Pepperoni-Gradient {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-o-keyframes Pepperoni-Gradient {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes Pepperoni-Gradient {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

* {
  margin: 0;
}

body {
  background: linear-gradient(232deg, #218a9b, #34cc7d, #9fff00, #ffd800, #ff7e00);
  background-size: 10000% 10000%;
  
  -webkit-animation: Pepperoni-Gradient 23s ease infinite;
  -moz-animation: Pepperoni-Gradient 23s ease infinite;
  -o-animation: Pepperoni-Gradient 23s ease infinite;
  animation: Pepperoni-Gradient 23s ease infinite;
  
}

ul {
  list-style-type: none;
}

.Pepperoni-header {
	font-family: 'Product Sans', 'Roboto', Arial, Helvetica, sans-serif;
	font-size: 72px;
	text-align: center;
	color: azure;
}

.Pepperoni-text {
	font-family: 'Product Sans', 'Roboto', Arial, Helvetica, sans-serif;
	color: azure;
	font-size: 20px;
	text-align: center;
}

.Pepperoni-text-small {
	font-family: 'Product Sans', 'Roboto', Arial, Helvetica, sans-serif;
	color: azure;
	font-size: 13px;
	text-align: center;
}

.Pepperoni-footer {
	font-family: 'Product Sans', 'Roboto', Arial, Helvetica, sans-serif;
	color: azure;
	margin-top: 10px;
	text-align: center;
}
